/* Lexend */
@font-face {
  font-family: "Lexend";
  src: url("/fonts/lexend/Lexend-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lexend";
  src: url("/fonts/lexend/Lexend-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lexend";
  src: url("/fonts/lexend/Lexend-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Open Sans */
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/opensans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/opensans/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/opensans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
